<ng-container *ngIf="templateVars$ | async as data">
  <mat-label class="field-label" *ngIf="!data.allowMultiValue" [ngClass]="{ 'disabled': disabled }">
    {{ label }} {{ required ? '*': '' }}
  </mat-label>

  <div cdkDropList [cdkDropListDisabled]="!data.allowMultiValue || disabled" (cdkDropListDropped)="drop($event)"
    [ngClass]="{
    'normal-list': !data.allowMultiValue,
    'dnd-list': data.allowMultiValue
  }">
    <!-- Normal list usually shows only one item, but can show "empty slot" / "null-item" in debug mode -->
    <div *ngFor="let item of selectedEntities; trackBy: trackByFn; let index = index" cdkDrag [ngClass]="{
      'normal-item': !data.allowMultiValue,
      'dnd-item': data.allowMultiValue,
      'disabled': disabled
    }">
      <div class="item-title" [ngClass]="{ 'disabled': disabled }">
        <mat-icon class="item-title__icon" *ngIf="data.allowMultiValue" [tippy]="'Fields.Entity.DragMove' | translate"
          [tippyDisabled]="disabled">
          drag_handle
        </mat-icon>
        <span class="item-title__text" [tippy]="item.tooltip">
          {{ item.label }}
        </span>
      </div>
      <div class="item-actions">
        <!-- Disable edit only if it was disabled in the settings, not if disabled by language change -->
        <button mat-icon-button *ngIf="data.enableEdit && !item.isFreeTextOrNotFound"
          [tippy]="'Fields.Entity.Edit' | translate" [disabled]="config.initialDisabled" appMousedownStopPropagation
          (click)="edit(item.value)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="data.enableDelete && !item.isFreeTextOrNotFound"
          [tippy]="'Fields.Entity.Delete' | translate" [disabled]="disabled" appMousedownStopPropagation
          (click)="deleteItem(index, item.value)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="data.enableRemove" [tippy]="'Fields.Entity.Remove' | translate"
          [disabled]="disabled" appMousedownStopPropagation (click)="removeItem(index)">
          <mat-icon>{{ data.allowMultiValue ? 'clear' : 'arrow_drop_down' }}</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-container>
