@import "../../../../../assets/styles/variables.scss";

%field-border {
  padding: 0 0 1px 0;
  border-bottom: 1px solid $field-border-color--initial;
}

%field-border--hover {
  padding: 0;
  border-bottom: 2px solid $field-border-color--hover;
  transition: none;
}

%field-border--disabled {
  border: none;
  cursor: default;
  padding: 0 0 2px 0;
  background-image: linear-gradient(to right, $field-border-color--disabled 0%, $field-border-color--disabled 33%, transparent 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.field-label {
  display: block;
  user-select: none;
  font-size: 12px;
  line-height: 14px;
  padding-top: 12px;
  padding-bottom: 4px;
  color: rgba($editUI-foreground-color, 0.44);

  &.disabled {
    color: $editUI-label-disabled-color;
  }
}

.normal-list {
  .normal-item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @extend %field-border;

    &:hover:not(.disabled) {
      @extend %field-border--hover;
    }

    &.disabled {
      @extend %field-border--disabled;
    }

    // Ugly fix to match the height of a customized material field
    &:first-of-type {
      height: 31px;

      .item-title {
        margin-top: -2px;
      }

      .item-actions {
        margin-top: -2px;
      }
    }
  }
}

.dnd-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 32px;
}

.dnd-item {
  height: 40px;
  border-bottom: 1px solid #ccc;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-sizing: border-box;
  font-size: 14px;

  &:not(.disabled) {
    cursor: move;
  }

  &:last-child {
    border: none;
  }
}

.item-title {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__icon {
    margin-right: 8px;
    opacity: 0.4;
    user-select: none;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.disabled {
    .item-title__icon {
      color: $editUI-label-disabled-color;
    }

    .item-title__text {
      color: $editUI-label-disabled-color;
      cursor: default;
    }
  }
}

.item-actions {
  flex-shrink: 0;

  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dnd-list.cdk-drop-list-dragging .dnd-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
