<mat-card class="mat-elevation-z4" [ngClass]="{ 'debug-enabled': activeDebug != null }">

  <div class="debug-buttons-container">
    <button mat-button tippy="Show Data JSON" (click)="toggleDebugType(DebugTypes.Data)">
      <mat-icon>offline_bolt</mat-icon>
      <span>Data</span>
    </button>
    <button mat-button tippy="Show Formula Designer" (click)="toggleDebugType(DebugTypes.Formulas)">
      <mat-icon>functions</mat-icon>
      <span>Formulas</span>
    </button>
    <button mat-button tippy="Show Logs" (click)="toggleDebugType(DebugTypes.Logs)">
      <mat-icon>speed</mat-icon>
      <span>Logs</span>
    </button>
    <div class="spacer"></div>
    <div class="sxc-version">2sxc {{ sxcVer }}</div>
  </div>

  <div class="debug-info-container" *ngIf="activeDebug != null">
    <app-data-dump *ngIf="activeDebug === DebugTypes.Data"></app-data-dump>

    <app-formula-designer *ngIf="activeDebug === DebugTypes.Formulas" [formBuilderRefs]="formBuilderRefs">
    </app-formula-designer>

    <app-logs-dump *ngIf="activeDebug === DebugTypes.Logs"></app-logs-dump>
  </div>
</mat-card>
