@import "../../../../assets/styles/variables.scss";

.translate-menu-dialog-card {
  max-height: 99vh;
  overflow-y: scroll;
}

.mat-list-item-focus {
  background: $edit-ui-selected-option;
}

.mat-list-item--disabled {
  cursor: default;
  color: $editUI-label-disabled-color;
}
