<div class="grid-wrapper mat-tab-grid-wrapper">
  <ag-grid-angular class="ag-theme-material" [rowData]="views$ | async" [modules]="modules" [gridOptions]="gridOptions"
    appDragAndDrop [allowedFileTypes]="'json'" (filesDropped)="importView($event)">
  </ag-grid-angular>

  <div class="grid-more-actions-box">
    <button mat-button tippy="Configure polymorphism" (click)="editPolymorphisms()">
      <img class="polymorph-logo" [src]="polymorphLogo">
      <span>Polymorphism {{ polymorphStatus$ | async }}</span>
    </button>

    <button mat-button tippy="Import view" (click)="importView()">
      <mat-icon>cloud_upload</mat-icon>
      <span>View</span>
    </button>
  </div>

  <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Create a new view" (click)="editView(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>
