<div mat-dialog-title>
  <div class="dialog-title-box">
    <div>
      Query Results
      <ng-container *ngIf="debugStream">
        for Stream: "{{ debugStream.name }}" on Source: "{{ debugStream.sourceName }}"
      </ng-container>
    </div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<p class="dialog-description">
  The Full result was logged to the Browser Console. Further down you'll find more debug-infos.
  Executed in {{ timeUsed }}ms ({{ ticksUsed }} ticks)
</p>

<mat-tab-group dynamicHeight color="accent">
  <mat-tab>
    <div *matTabLabel class="mat-tab-label-box" tippy="Results">
      <span>Results</span>
    </div>

    <p class="description">
      <ng-container *ngIf="top === 0">Showing All results</ng-container>
      <ng-container *ngIf="top !== 0">Showing top {{ top }} results</ng-container>
      <button mat-button *ngFor="let option of optionsForTop" (click)="show(option)">
        Show
        <ng-container *ngIf="option === 0">All</ng-container>
        <ng-container *ngIf="option !== 0">{{ option }}</ng-container>
      </button>
    </p>
    <pre>{{ result | json }}</pre>
  </mat-tab>

  <mat-tab *ngIf="parameters?.length">
    <div *matTabLabel class="mat-tab-label-box" tippy="Parameters">
      <span>Parameters</span>
    </div>

    <br />
    <ul class="description">
      <li *ngFor="let param of parameters">{{ param }}</li>
    </ul>
  </mat-tab>

  <mat-tab>
    <div *matTabLabel class="mat-tab-label-box" tippy="Sources">
      <span>Sources</span>
    </div>

    <br />
    <table class="description">
      <tr>
        <th>Guid</th>
        <th>Type</th>
        <th>Configuration</th>
        <th>Error</th>
      </tr>
      <tr *ngFor="let source of sources | keyvalue">
        <td>
          <pre>{{ source.value.Guid }}</pre>
        </td>
        <td>{{ source.value.Type }}</td>
        <td>
          <ol>
            <li *ngFor="let config of source.value.Configuration | keyvalue">
              <b>{{ config.key }}</b>=<em>{{ config.value }}</em>
            </li>
          </ol>
        </td>
        <td>{{ source.value.Error }}</td>
      </tr>
    </table>
  </mat-tab>

  <mat-tab>
    <div *matTabLabel class="mat-tab-label-box" tippy="Streams">
      <span>Streams</span>
    </div>

    <br />
    <table class="description">
      <tr>
        <th>Source</th>
        <th>Target</th>
        <th>Items</th>
        <th>Error</th>
      </tr>
      <tr *ngFor="let stream of streams">
        <td>
          <pre>{{ stream.Source + ":" + stream.SourceOut }}</pre>
        </td>
        <td>
          <pre>{{ stream.Target + ":" + stream.TargetIn }}</pre>
        </td>
        <td>{{ stream.Count }}</td>
        <td>{{ stream.Error }}</td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
