<div class="nav-component-wrapper">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>Permissions</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="permissions$ | async" [modules]="modules"
      [gridOptions]="gridOptions">
    </ag-grid-angular>

    <div class="grid-more-actions-box"></div>

    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Create a new permission" (click)="editPermission(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
