<div class="grid-wrapper mat-tab-grid-wrapper">
  <ag-grid-angular class="ag-theme-material" [rowData]="webApis$ | async" [modules]="modules"
    [gridOptions]="gridOptions">
  </ag-grid-angular>

  <div class="grid-more-actions-box"></div>

  <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Create a new controller" (click)="addController()">
    <mat-icon>add</mat-icon>
  </button>
</div>
