<div mat-dialog-title>
  <div class="dialog-title-box">
    <div>{{ dialogData.name }}</div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="dialog-component-content fancy-scrollbar-light">
  <p class="dialog-description">
    {{ dialogData.body }}
  </p>

  <p class="dialog-description" *ngIf="dialogData.notes">
    <em>{{ dialogData.notes }}</em>
  </p>
</div>
