<div class="actions-component">
  <div class="like-button highlight" matRipple tippy="Edit" (click)="params.do(actions.Edit, item)">
    <mat-icon>edit</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="enablePermissions" tippy="Permissions"
    (click)="params.do(actions.Permissions, item)">
    <mat-icon [matBadge]="item._Permissions.Count" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
      *ngIf="item._Permissions.Count">
      person
    </mat-icon>
    <mat-icon *ngIf="!item._Permissions.Count">person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!enablePermissions">
    <mat-icon>person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <button mat-menu-item (click)="params.do(actions.Rest, item)">
    <mat-icon svgIcon="code-curly"></mat-icon>
    <span>REST API</span>
  </button>
  <button mat-menu-item (click)="params.do(actions.Clone, item)">
    <mat-icon>file_copy</mat-icon>
    <span>Copy</span>
  </button>
  <button mat-menu-item (click)="params.do(actions.Export, item)">
    <mat-icon>cloud_download</mat-icon>
    <span>Export</span>
  </button>
  <button mat-menu-item (click)="params.do(actions.Delete, item)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
