<div class="icon-container">
  <mat-icon *ngIf="value.published" tippy="Published">visibility</mat-icon>
  <mat-icon *ngIf="!value.published" tippy="Not published">visibility_off</mat-icon>
  <mat-icon class="meta-icon" *ngIf="value.metadata" [tippy]="metadataTooltip">local_offer</mat-icon>
</div>
