<div appToggleDebug class="nav-component-wrapper">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>{{ (contentType$ | async)?.Name }} Data</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div *ngIf="(contentType$ | async)?.Metadata?.ListInstructions as listInstructions"
    [innerHTML]="listInstructions | safeHtml">
  </div>

  <div class="grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="items$ | async" [modules]="modules"
      [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" appDragAndDrop [allowedFileTypes]="'xml,json'"
      (filesDropped)="filesDropped($event)">
    </ag-grid-angular>

    <div class="grid-more-actions-box">
      <button mat-button tippy="Export xml list" (click)="exportContent()">
        <mat-icon>cloud_download</mat-icon>
        <span>Data</span>
      </button>
      <button mat-button tippy="Import xml list" (click)="importContent()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Data</span>
      </button>
      <button mat-button tippy="Import single json item" (click)="importItem()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Item</span>
      </button>
      <button mat-button tippy="Add metadata to entity" (click)="addMetadata()">
        <mat-icon>local_offer</mat-icon>
        <span>Metadata</span>
      </button>
      <button mat-button color="accent" tippy="Print filter to console" *ngIf="debugEnabled$ | async"
        (click)="debugFilter()">
        <mat-icon>filter_list</mat-icon>
        <span>Filter</span>
      </button>
    </div>

    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Add item" (click)="editItem(null)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
