<div appDragAndDrop [allowedFileTypes]="'json'" (filesDropped)="filesDropped($event)"
  *ngIf="(templateVars$ | async) as data">

  <div mat-dialog-title>
    <div class="dialog-title-box">Import View</div>
  </div>

  <mat-spinner *ngIf="data.isImporting" mode="indeterminate" diameter="20" color="accent"></mat-spinner>

  <p class="dialog-description">Select a view file (json) from your computer to import.</p>

  <div>
    <button mat-raised-button tippy="Open file browser" [disabled]="data.isImporting" (click)="fileInput.click()">
      <span>{{ data.importFile ? data.importFile.name : 'Select or drop file' }}</span>
    </button>
    <input #fileInput type="file" (change)="fileChange($event)" class="hide" />
  </div>

  <div class="dialog-component-content fancy-scrollbar-light import-result-box" *ngIf="data.importResult">
    <div *ngIf="data.importResult.Success" class="sxc-message sxc-message-info">
      The import has been done. See the messages below for more information.
    </div>
    <div *ngIf="!data.importResult.Success" class="sxc-message sxc-message-error">
      The import failed. See the messages below for more information.
    </div>
    <div *ngFor="let message of data.importResult.Messages" class="sxc-message" [ngClass]="{
      'sxc-message-warning': message.MessageType === 0,
      'sxc-message-success': message.MessageType === 1,
      'sxc-message-error': message.MessageType === 2
    }">
      {{ message.Text }}
    </div>
  </div>

  <div class="dialog-component-actions">
    <ng-container *ngIf="!data.importResult?.Success">
      <button mat-raised-button (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="accent" [disabled]="!data.importFile || data.isImporting || !!data.importResult"
        (click)="importView()">
        Import
      </button>
    </ng-container>
    <ng-container *ngIf="data.importResult?.Success">
      <button mat-raised-button color="accent" (click)="closeDialog()">Close</button>
    </ng-container>
  </div>
</div>
