<div mat-dialog-title>
  <div class="dialog-title-box">Manage content-item lists</div>
</div>

<router-outlet></router-outlet>

<div class="dialog-component-content fancy-scrollbar-light" *ngIf="(templateVars$ | async) as data">
  <ng-container *ngIf="data.header">
    <p class="dialog-description">
      You can manage the list header here (if it is defined):
    </p>

    <p class="dialog-description">
      <ng-container *ngIf="data.header.Type">
        <span>{{ data.header.Title }}</span>
        <button mat-icon-button tippy="Edit header" (click)="editHeader()">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!data.header.Type">(this list has no header)</ng-container>
    </p>
  </ng-container>

  <p class="dialog-description sort-title">Sort the items by dragging as you need, then save:</p>

  <div class="dnd-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of data.items; trackBy: trackByFn" class="dnd-item" cdkDrag>
      <div class="dnd-item__title">
        <mat-icon class="dnd-item__title-icon" tippy="Drag to reorder the list">drag_handle</mat-icon>
        <span class="dnd-item__title-text" tippy="{{ item.Title }} ({{ item.Id }})">
          {{ item.Title }} ({{ item.Id }})
        </span>
      </div>
      <div *ngIf="item.Id !== 0">
        <button mat-icon-button tippy="Edit item" appMousedownStopPropagation (click)="editItem(item.Id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="dialog-component-actions">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="accent" (click)="saveList()">Save</button>
</div>
