<div [ngClass]="(open$ | async) ? 'c-ew__container' : 'u-display-none'">
  <div #backdrop class="c-ew__backdrop" (click)="closeDialog()"></div>
  <div #dialog fxLayout="column" class="c-ew__dialog mat-elevation-z24 u-border-radius">
    <div [ngClass]="{ 'c-ew__dialog-header mat-elevation-z2': (open$ | async) }">
      <mat-card class="mat-elevation-z0" fxLayout="row">
        <button mat-icon-button class="back-arrow" fxLayoutAlign="center center"
          [tippy]="'Form.Buttons.Return.Tip' | translate" (click)="closeDialog()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxLayoutAlign="center center" class="title mat-display-1">{{ label$ | async }}</span>
      </mat-card>
    </div>
    <div>
      <div [@itemShrinkAnimation]="(open$ | async) ? 'closed' : 'open'">
      </div>
      <div class="c-ew__dialog-content u-border-radius-bottom u-add-scrollbar u-hide-scrollbar"
        [@contentExpandAnimation]="{
          value: (open$ | async) ? 'expanded' : 'closed',
          params: { bottomPixels: calculateBottomPixels() }
        }">
        <ng-container #fieldComponent></ng-container>
      </div>
    </div>
  </div>
</div>
<div class="c-ew__preview-holder" *ngIf="templateVars$ | async as data">
  <mat-label class="c-ew__preview-label" [ngClass]="{
    'mat-caption' : data.controlStatus.value,
    'mat-empty' : !data.controlStatus.value,
    'mat-error' : data.controlStatus.invalid && (data.controlStatus.touched || data.controlStatus.dirty) && !data.controlStatus.disabled,
    'color__primary' : !(data.controlStatus.invalid && data.controlStatus.touched) && !data.controlStatus.disabled,
    'color__label-disabled' : data.controlStatus.disabled,
    'c-ew__preview-label--focused': data.focused
  }">
    {{ data.label }}
    {{ data.required ? '*': '' }}
  </mat-label>
  <div class="c-ew__preview" [ngClass]="{
    'c-ew__preview--invalid' : data.controlStatus.invalid && (data.controlStatus.touched || data.controlStatus.dirty),
    'c-ew__preview--disabled': data.controlStatus.disabled,
    'c-ew__preview--focused': data.focused
  }">
    <div class="c-ew__preview-container">
      <div #previewContainer class="c-ew__preview-content u-hide-scrollbar" [ngClass]="{
        'c-ew__preview-content--disabled': data.controlStatus.disabled
      }">
      </div>
    </div>
  </div>
  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>
</div>
