<div class="grid-wrapper mat-tab-grid-wrapper">
  <ag-grid-angular class="ag-theme-material" [rowData]="apps$ | async" [modules]="modules" [gridOptions]="gridOptions"
    appDragAndDrop [allowedFileTypes]="'zip'" (filesDropped)="importApp($event)">
  </ag-grid-angular>

  <div class="grid-more-actions-box"></div>

  <eco-fab-speed-dial class="grid-fab">
    <eco-fab-speed-dial-trigger [spin]="true">
      <button mat-fab>
        <mat-icon class="spin180">add</mat-icon>
      </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
      <button mat-mini-fab tippy="Find more apps" (click)="browseCatalog()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab tippy="Import app" (click)="importApp()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-mini-fab tippy="Create app" (click)="createApp()">
        <mat-icon>add</mat-icon>
      </button>
    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>
</div>
