<div class="actions-component">
  <div class="like-button highlight" matRipple tippy="Flush cache" (click)="flushCache()">
    <mat-icon>cached</mat-icon>
  </div>
  <div class="like-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <button mat-menu-item [disabled]="!app.IsApp" (click)="deleteApp()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
