<div class="nav-component-wrapper">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>{{ (contentType$ | async)?.Name }} Fields</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="fields$ | async" [modules]="modules"
      [gridOptions]="gridOptions" (rowDragEnter)="onRowDragEnter($event)" (rowDragEnd)="onRowDragEnd($event)"
      (rowDragMove)="onRowDragMove($event)" (gridReady)="onGridReady($event)" (sortChanged)="onSortChanged($event)"
      (filterChanged)="onFilterChanged($event)" [ngClass]="{
        'grid-sorted': sortApplied,
        'grid-filtered': filterApplied
      }">
    </ag-grid-angular>

    <div class="grid-more-actions-box"></div>

    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Add fields" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
