<div class="actions-component">
  <div class="like-button highlight" matRipple *ngIf="!contentType.UsesSharedDef" tippy="Metadata"
    (click)="createOrEditMetadata()">
    <mat-icon>edit</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="contentType.UsesSharedDef">
    <mat-icon>edit</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="enablePermissions" tippy="Permissions"
    (click)="openPermissions()">
    <mat-icon [matBadge]="contentType.Permissions.Count" matBadgePosition="after" matBadgeColor="accent"
      matBadgeSize="small" *ngIf="contentType.Permissions.Count">
      person
    </mat-icon>
    <mat-icon *ngIf="!contentType.Permissions.Count">person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!enablePermissions">
    <mat-icon>person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <button mat-menu-item (click)="editContentType()">
    <mat-icon>settings</mat-icon>
    <span>Rename</span>
  </button>
  <button mat-menu-item (click)="openRestApi()">
    <mat-icon svgIcon="code-curly"></mat-icon>
    <span>REST API</span>
  </button>
  <button mat-menu-item (click)="exportType()">
    <mat-icon>cloud_download</mat-icon>
    <span>Export content type</span>
  </button>
  <button mat-menu-item (click)="openDataExport()">
    <mat-icon>cloud_download</mat-icon>
    <span>Export data</span>
  </button>
  <button mat-menu-item (click)="openDataImport()">
    <mat-icon>cloud_upload</mat-icon>
    <span>Import data</span>
  </button>
  <button mat-menu-item [disabled]="contentType.UsesSharedDef" (click)="deleteContentType()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
