<div class="editor-active-explorer fancy-scrollbar-dark">
  <div *ngFor="let section of snippets | keyvalue">

    <div class="collapsible-header section" [tippy]="'SourceEditorSnippets.' + section.key + '.Help' | translate"
      tippyShowDelay="750" (click)="toggleSection(section)">
      <mat-icon>{{ toggledSections.includes(section) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
      <span>{{ 'SourceEditorSnippets.' + section.key + '.Title' | translate }}</span>
    </div>

    <ng-container *ngIf="toggledSections.includes(section)">
      <div *ngFor="let folder of section.value | keyvalue">

        <div class="collapsible-header folder"
          [tippy]="'SourceEditorSnippets.' + section.key + '.' + folder.key + '.Help' | translate" tippyShowDelay="750"
          (click)="toggleFolder(folder)">
          <mat-icon>{{ toggledFolders.includes(folder) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          <span>{{ 'SourceEditorSnippets.' + section.key + '.' + folder.key + '.Title' | translate }}</span>
        </div>

        <ng-container *ngIf="toggledFolders.includes(folder)">
          <div class="snippet" *ngFor="let snippet of (folder.value | objectToArray)">

            <div class="snippet-label">
              <div matRipple class="text" [tippy]="snippet.snip" tippyShowDelay="750"
                (click)="addSnippet(snippet.snip)">
                {{ snippet.label }}
              </div>
              <mat-icon *ngIf="snippet.more" tippy="Show More" tippyShowDelay="750" (click)="toggleMore(snippet)">
                {{ toggledMores.includes(snippet) ? 'more_vert' : 'more_horiz' }}
              </mat-icon>
              <mat-icon tippy="Show Help" tippyShowDelay="750" appClickStopPropagation (click)="toggleInfo(snippet)">
                info
              </mat-icon>
            </div>

            <div class="snippet-help" *ngIf="toggledInfos.includes(snippet)">
              <div class="text" [innerHTML]="snippet.help | safeHtml"></div>
              <div *ngFor="let link of snippet.links">
                <a [href]="link.url" target="_blank">{{ link.name }}</a>
              </div>
            </div>

            <ng-container *ngIf="toggledMores.includes(snippet)">
              <div *ngFor="let more of (snippet.more | objectToArray)">

                <div class="snippet-label">
                  <div matRipple class="text text-more" [tippy]="more.snip" tippyShowDelay="750"
                    (click)="addSnippet(more.snip)">
                    {{ more.label }}
                  </div>
                  <mat-icon tippy="Show Help" tippyShowDelay="750" appClickStopPropagation (click)="toggleInfo(more)">
                    info
                  </mat-icon>
                </div>

                <div class="snippet-help snippet-help-more" *ngIf="toggledInfos.includes(more)">
                  <div class="text" [innerHTML]="more.help | safeHtml"></div>
                  <div *ngFor="let link of more.links">
                    <a [href]="link.url" target="_blank">{{ link.name }}</a>
                  </div>
                </div>

              </div>
            </ng-container>

          </div>
        </ng-container>

      </div>
    </ng-container>

  </div>
</div>
