<div class="grid-wrapper mat-tab-grid-wrapper">
  <ag-grid-angular class="ag-theme-material" [rowData]="contentTypes$ | async" [modules]="modules"
    [gridOptions]="gridOptions" appDragAndDrop [allowedFileTypes]="'xml,json'" (filesDropped)="filesDropped($event)">
  </ag-grid-angular>

  <div class="grid-more-actions-box">
    <mat-form-field appearance="standard" color="accent" class="scope-dropdown">
      <mat-select [ngModel]="scope$ | async" name="Scope" (ngModelChange)="changeScope($event)">
        <mat-option *ngFor="let scopeOption of (scopeOptions$ | async)" [value]="scopeOption.value">
          {{ 'Scope: ' + scopeOption.name }}
        </mat-option>
        <mat-option value="Other">Scope: Other...</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button tippy="Import content type" (click)="importType()">
      <mat-icon>cloud_upload</mat-icon>
      <span>Content Type</span>
    </button>

    <button mat-button color="accent" tippy="Create a ghost content type" *ngIf="debugEnabled$ | async"
      (click)="createGhost()">
      <mat-icon>share</mat-icon>
      <span>Ghost</span>
    </button>
  </div>

  <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Create a new content type" (click)="editContentType(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>
