<div class="actions-component">
  <div class="like-button highlight" matRipple tippy="Copy" (click)="clone()">
    <mat-icon>file_copy</mat-icon>
  </div>
  <div class="like-button highlight" matRipple tippy="Export" (click)="export()">
    <mat-icon>cloud_download</mat-icon>
  </div>
  <div class="like-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <button mat-menu-item (click)="deleteItem()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
