.hide-scrollbar {
  -ms-overflow-style: none !important; // IE 10+
  overflow: -moz-scrollbars-none !important; // Firefox
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important; // Safari and Chrome
  }
}

.hide {
  display: none;
}

.force-hide {
  display: none !important;
}

.not-implemented {
  color: red;
}

.almost-implemented {
  color: orange;
}

.edit-ui {
  color: purple;
}

.mat-button.icon .mat-icon {
  margin-right: 8px;
}

@mixin fancy-scrollbar($thumbColor, $trackColor, $thumbHoverColor) {
  scrollbar-width: thin;
  scrollbar-color: $thumbColor $trackColor;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border: 1px solid $trackColor;

    &:hover {
      background-color: $thumbHoverColor;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $trackColor;
  }
}

.fancy-scrollbar-light {
  @include fancy-scrollbar(rgb(205, 205, 205), rgb(240, 240, 240), rgb(166, 166, 166));
}

.fancy-scrollbar-dark {
  @include fancy-scrollbar(rgb(119, 119, 120), rgb(32, 32, 34), rgb(95, 95, 96));
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
