// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material'as mat;
@import "./../../../edit/assets/styles/variables.scss";
@import "./../../../edit/assets/styles/theme/material-colors.scss";
@import "./../../../edit/assets/styles/theme/override-mat-form-field-fill-typography.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// For each palette, you can optionally specify a default, lighter, and darker hue.
// Available color palettes: https://material.io/design/color/
$ng-dialogs-primary: mat.define-palette($mat-eav-item-dialog-primary);
$ng-dialogs-accent: mat.define-palette($mat-eav-item-dialog-secondary);

// The warn palette is optional (defaults to red).
$ng-dialogs-warn: mat.define-palette($mat-eav-item-dialog-error);

$ng-dialogs-typography: mat.define-typography-config($font-family: '"Roboto", sans-serif',
  $display-4: mat.define-typography-level(112px, 112px, 300),
  $display-3: mat.define-typography-level(56px, 56px, 400),
  $display-2: mat.define-typography-level(45px, 48px, 400),
  $display-1: mat.define-typography-level(20px, 24px, 500),
  $headline: mat.define-typography-level(96px, 108px, 300),
  $title: mat.define-typography-level(60px, 64px, 300),
  $subheading-2: mat.define-typography-level(14px, 20px, 500),
  $subheading-1: mat.define-typography-level(16px, 20px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $body-1: mat.define-typography-level(16px, 20px, 400),
  $button: mat.define-typography-level(14px, 20px, 500),
  $caption: mat.define-typography-level(12px, 16px, 400),
  $input: mat.define-typography-level(inherit, 1.25, 400));

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-dialogs-theme: mat.define-light-theme((color: (primary: $ng-dialogs-primary,
      accent: $ng-dialogs-accent,
      warn: $ng-dialogs-warn,
    ),
    // typography: $ng-dialogs-typography doesn't seem to work so I'm using old all-component-typographies
  ));

@include mat.all-component-themes($ng-dialogs-theme);
@include mat.all-component-typographies($ng-dialogs-typography);
