<ng-container *ngIf="templateVars$ | async as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>Item History</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <p class="dialog-description">Check version history for this item and restore the version you need.</p>

  <div *ngIf="data.historyItems?.length > 0" class="compare-box">
    <mat-form-field appearance="standard" color="accent" class="compare-box__dropdown">
      <mat-select [value]="data.compareWith" name="Scope" (selectionChange)="compareChange($event.value)">
        <mat-option value="previous">Compare with: Previous</mat-option>
        <mat-option value="live">Compare with: Live</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="dialog-component-content fancy-scrollbar-light">
    <div *ngIf="data.historyItems === null">Loading...</div>
    <div *ngIf="data.historyItems?.length === 0">No previous versions of this item found</div>

    <mat-accordion multi *ngIf="data.historyItems?.length > 0" class="history-tables">
      <mat-expansion-panel *ngFor="let historyItem of data.historyItems"
        [expanded]="expandedPanels[historyItem.versionNumber]"
        (expandedChange)="panelExpandedChange($event, historyItem.versionNumber)">
        <mat-expansion-panel-header>
          <mat-panel-title>Version {{ historyItem.versionNumber }}</mat-panel-title>
          <mat-panel-description>{{ historyItem.timeStamp | date:'yyyy-MM-dd hh:mm' }}</mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngIf="expandedPanels[historyItem.versionNumber]">
          <div class="table-row" *ngFor="let attribute of historyItem.attributes">
            <div class="table-row__main row-main"
              (click)="attributeExpandedToggle(historyItem.versionNumber, attribute.name)">
              <div class="row-main__label history-{{ attribute.change }}">
                {{ attribute.name }}
              </div>
              <div class="row-main__value history-{{ attribute.change }}">
                <ng-container *ngIf="!expandedAttributes[historyItem.versionNumber + attribute.name]">
                  {{ attribute.values[0]?.value }}
                </ng-container>
              </div>
              <div class="row-main__type">
                <i>[{{ attribute.dataType }}]</i>
              </div>
            </div>

            <div class="table-row__details" *ngIf="expandedAttributes[historyItem.versionNumber + attribute.name]">
              <div class="detail-row" *ngFor="let value of attribute.values">
                <div class="detail-row__label history-{{ value.change }}">{{ value.langKey }}:</div>
                <div class="detail-row__value">
                  <div class="history-{{ value.change }}" *ngIf="value.change !== 'changed'">
                    {{ value.change === 'deleted' ? value.oldValue : value.value }}
                  </div>
                  <ng-container *ngIf="value.change === 'changed'">
                    <div class="history-new">{{ value.value }}</div>
                    <div class="history-deleted history-deleted__value">{{ value.oldValue }}</div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row-actions">
            <button mat-raised-button color="accent" *ngIf="!historyItem.isLastVersion"
              (click)="restore(historyItem.changeSetId)">
              Restore
            </button>
          </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-paginator color="accent" showFirstLastButtons="true" [length]="data.length" [pageSize]="data.pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)" *ngIf="data.historyItems?.length > 0">
  </mat-paginator>
</ng-container>
