<div mat-dialog-title>
  <div class="dialog-title-box">
    <div>Stream Error Results</div>
    <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<br />

<pre>{{ errorData | json }}</pre>

<div>
  <button mat-button tippy="Open 2sxc Insights" (click)="openInsights()">
    <mat-icon>speed</mat-icon>
    <span>Insights</span>
  </button>
</div>
