<mat-card *ngIf="templateVars$ | async as data" class="header">
  <button mat-icon-button class="header__exit-button" (click)="close()"
    [tippy]="(eavService.eavConfig.isParentDialog ? 'Form.Buttons.Exit.Tip' : 'Form.Buttons.Return.Tip') | translate">
    <mat-icon>{{ eavService.eavConfig.isParentDialog ? 'clear' : 'arrow_back' }}</mat-icon>
  </button>

  <div *ngIf="eavService.eavConfig.isCopy" class="header__copy">{{ 'ItemCard.CopyHint' | translate }}</div>

  <div class="header__langs">
    <app-language-switcher *ngIf="data.hasLanguages" [disabled]="disabled"></app-language-switcher>
  </div>

  <button mat-button class="header__publish-button" (click)="openPublishStatusDialog()"
    [tippy]="'PublishStatus.' + data.publishMode + '.Tip' | translate">
    <span class="header__publish-mode">
      {{ 'PublishStatus.Label' | translate }}
      <b>{{ 'PublishStatus.' + data.publishMode | translate | uppercase }}</b>
    </span>
  </button>
</mat-card>
