<div class="editor-active-explorer fancy-scrollbar-dark explorer-wrapper">

  <div>
    <ng-container *ngFor="let item of (tree | sortItems)">
      <ng-container *ngTemplateOutlet="fileOrFolder; context: {item: item}"></ng-container>
    </ng-container>

    <ng-template #fileOrFolder let-item="item">

      <div class="file" *ngIf="!item.isFolder" [style]="item.depth | depthPadding: item.isFolder"
        [ngClass]="{'active': toggledItems.includes(item.pathFromRoot) }" [tippy]="item.name" tippyShowDelay="750"
        (click)="openTemplate(item.pathFromRoot)">
        {{ item.name }}
      </div>

      <div *ngIf="item.isFolder">
        <div class="folder-name-wrapper" [style]="item.depth | depthPadding: item.isFolder"
          (click)="toggleItem(item.pathFromRoot)">
          <div class="folder-name" [tippy]="item.name" tippyShowDelay="750">
            <mat-icon>
              {{ toggledItems.includes(item.pathFromRoot) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
            </mat-icon>
            <span>{{ item.name }}</span>
          </div>
          <div class="add-item" tippy="Create file in this folder" tippyShowDelay="750" appClickStopPropagation
            (click)="addFile(item.pathFromRoot)">
            <mat-icon>add</mat-icon>
          </div>
        </div>

        <ng-container *ngIf="toggledItems.includes(item.pathFromRoot)">
          <ng-container *ngFor="let item1 of (item.children | sortItems)">
            <ng-container *ngTemplateOutlet="fileOrFolder; context: {item: item1}"></ng-container>
          </ng-container>
        </ng-container>
      </div>

    </ng-template>
  </div>

  <div class="create-button-wrapper">
    <button mat-icon-button tippy="Create file" (click)="addFile()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
