<div class="actions-component">
  <div class="like-button highlight" matRipple tippy="Permissions" *ngIf="enablePermissions"
    (click)="openPermissions()">
    <mat-icon [matBadge]="field.Permissions.Count" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
      *ngIf="field.Permissions.Count">
      person
    </mat-icon>
    <mat-icon *ngIf="!field.Permissions.Count">person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!enablePermissions">
    <mat-icon>person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <button mat-menu-item (click)="rename()">
    <mat-icon>text_fields</mat-icon>
    <span>Rename</span>
  </button>

  <button mat-menu-item [disabled]="field.IsTitle" (click)="deleteField()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
