/* You can add global styles to this file, and also import other style files */
@use '~@angular/material'as mat;
// Include the common styles for Angular Material. Be sure that you only ever include this mixin once!
@include mat.core();
@import '~@material/layout-grid/mdc-layout-grid';
@import '~@ag-grid-community/all-modules/dist/styles/ag-grid.css';
@import '@ag-grid-community/all-modules/dist/styles/ag-theme-material.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';

@import './styles/variables.scss';
@import './styles/theme.scss';
@import '../../edit/assets/styles/app.scss';
@import './styles/helpers.scss';
@import './styles/mat-card.styles.scss';
@import './styles/mat-dialog.styles.scss';
@import './styles/mat-tooltip.styles.scss';
@import './styles/mat-tabs.styles.scss';
@import './styles/ag-grid.styles.scss';
@import './styles/ag-grid-components.styles.scss';
@import './styles/sxc-messages.styles.scss';
@import './styles/ace-editor.styles.scss';
@import './styles/editor.styles.scss';
@import './styles/pipeline-designer.scss';
@import './styles/mat-radio.styles.scss';
@import './styles/mat-button.styles.scss';
@import './styles/drag-and-drop.styles.scss';
@import './styles/item-history.styles.scss';
@import './styles/tippy.styles.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
