<div class="cards-box">
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>2sxc Insights for Super Users</mat-card-title>
      <div class="mat-card-header-icon">
        <mat-icon>speed</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      This is to access a special section to see what is really in the server memory. It's intended for extensive
      debugging
      - see also <a href="https://2sxc.org/en/blog/post/using-2sxc-insights" target="_blank">this blog post</a>.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openInsights()">
        <mat-icon>speed</mat-icon>
        <span>Open 2sxc Insights</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <mat-card-title>Activate Page Level Logging</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #activateLogForm="ngForm" class="activate-log-form" (ngSubmit)="activatePageLog(activateLogForm)">
        <div>
          This will place insights-logs in the HTML of the user output for users with ?debug=true in the url. It can
          only be activated for short periods of time.
        </div>
        <mat-form-field appearance="standard" color="accent">
          <mat-label>Duration in Minutes</mat-label>
          <input matInput type="number" min="0" required [pattern]="positiveWholeNumber" [(ngModel)]="pageLogDuration"
            name="Duration" #duration="ngModel" [disabled]="loading$ | async">
        </mat-form-field>
        <ng-container *ngIf="duration.touched && duration.errors">
          <app-field-hint *ngIf="duration.errors.pattern" [isError]="true">
            Only positive whole numbers
          </app-field-hint>
        </ng-container>
        <div class="form-actions">
          <button mat-raised-button type="submit" color="accent"
            [disabled]="!activateLogForm.valid || (loading$ | async)">
            Activate
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
