<ng-container *ngIf="(templateVars$ | async) as data">

  <div class="grid-wrapper mat-tab-grid-wrapper" [ngClass]="{ 'iframe-wrapper': data.showManagement }">
    <ag-grid-angular class="ag-theme-material" [ngClass]="{ 'force-hide': data.showManagement }"
      [rowData]="data.features" [modules]="modules" [gridOptions]="gridOptions">
    </ag-grid-angular>

    <mat-spinner class="spinner" *ngIf="data.showSpinner" mode="indeterminate" diameter="20" color="accent">
    </mat-spinner>

    <iframe class="iframe" *ngIf="data.showManagement" [src]="data.managementUrl | safeResourceUrl"></iframe>

    <div class="grid-more-actions-box"></div>

    <button mat-fab mat-elevation-z24 class="grid-fab" tippy="Manage features" (click)="toggleManagement()">
      <mat-icon>tune</mat-icon>
    </button>
  </div>
</ng-container>
