<ng-container *ngIf="templateVars$ | async as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>Using REST with Data of <code>{{ data.name }}</code></div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <app-selector-with-help label="Choose Scenario" [items]="scenarios" [value]="data.scenario.key"
    (valueChange)="changeScenario($event)">
  </app-selector-with-help>

  <mat-tab-group dynamicHeight color="accent"
    class="mat-tab-group-fit-height mat-tab-group-fancy-scrollbar default-fonts">

    <!-- Introduction -->
    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box" tippy="Introduction">
        <mat-icon>emoji_objects</mat-icon>
        <span>Introduction</span>
      </div>
      <app-dev-data-introduction [data]="data"></app-dev-data-introduction>

      <app-dev-rest-tab-introduction [data]="data"></app-dev-rest-tab-introduction>
    </mat-tab>

    <!-- Absolute / Virtual URLs -->
    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box"
        [tippy]="(data.scenario.useVirtual ? 'Virtual ' : 'Absolute ') + 'REST URLs'">
        <mat-icon svgIcon="code-curly"></mat-icon>
        <span>Call {{ data.scenario.useVirtual ? 'Virtual' : 'Absolute' }} REST URLs</span>
      </div>

      <app-dev-rest-tab-examples-intro [data]="data"></app-dev-rest-tab-examples-intro>

      <!-- REST Tab showing the urls and code snippets -->
      <app-dev-rest-urls-and-code [data]="data"></app-dev-rest-urls-and-code>
    </mat-tab>

    <!-- Permissions explained -->
    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box" tippy="Permissions">
        <mat-icon>person</mat-icon>
        <span>Permissions ({{ data.permissions.length }})</span>
        <mat-icon *ngIf="!data.permissions.length">warning</mat-icon>
      </div>
      <app-dev-rest-tab-permissions [data]="data"></app-dev-rest-tab-permissions>
    </mat-tab>

    <!-- HTTP Headers Explained -->
    <mat-tab>
      <div *matTabLabel class="mat-tab-label-box" tippy="HTTP headers and auto">
        <mat-icon>perm_device_information</mat-icon>
        <span>HTTP headers & &nbsp;<code>/auto/</code></span>
      </div>
      <app-dev-rest-tab-headers [data]="data"></app-dev-rest-tab-headers>
    </mat-tab>
  </mat-tab-group>
</ng-container>
