<div class="actions-component">
  <div class="like-button highlight" matRipple tippy="Use as title field">
    <mat-icon *ngIf="isTitle" svgIcon="star"></mat-icon>
    <mat-icon *ngIf="!isTitle">star_outline</mat-icon>
  </div>
</div>
