.ed-field {
  width: 100%;
  height: 100%;
}

.ed-field__create-icon {
  width: 38px;
  padding-bottom: 4px;

  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.ed-field__create-icon-hide {
  width: 0;
}

.ed-field__field-short {
  width: calc(100% - 38px);
  max-width: calc(100% - 38px);
}

.ed-field__field {
  width: 100%;
}

.null-box {
  user-select: none;

  .null-button {
    cursor: pointer;
  }
}
