<div matRipple class="chip-component highlight" tippy="Add item">
  <div class="chip-box">
    <span class="chip">{{ value }}</span>
  </div>
  <div class="like-button">
    <mat-icon>add</mat-icon>
  </div>
</div>
