<div class="nav-component-wrapper" *ngIf="(templateVars$ | async) as data">
  <div mat-dialog-title>
    <div class="dialog-title-box">
      <div>Analyze {{ part }}</div>
      <button mat-icon-button tippy="Close dialog" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <p class="dialog-description">
    Settings and Resources are consolidated from many sources. Here you see what the resulting values would be.
  </p>

  <router-outlet></router-outlet>

  <mat-form-field appearance="standard" color="accent" class="view-select-box">
    <mat-label>Merge settings / resources of a View</mat-label>
    <mat-select [ngModel]="data.selectedView" (ngModelChange)="changeView($event)">
      <mat-option [value]="undefined">No view selected - this is how APIs see the data</mat-option>
      <mat-option *ngFor="let view of data.views" [value]="view.Guid">{{ view.Name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="grid-wrapper">
    <ag-grid-angular class="ag-theme-material" [rowData]="data.stack" [modules]="modules" [gridOptions]="gridOptions">
    </ag-grid-angular>

    <div class="grid-more-actions-box"></div>
  </div>
</div>
