<ng-container *ngIf="templateVars$ | async as data">

  <mat-form-field [formGroup]="group" appearance="standard" color="accent" [ngClass]="{
    'textarea-field': data.rowCount > 1
  }">
    <input *ngIf="data.rowCount <= 1" matInput [formControlName]="config.fieldName" [placeholder]="data.placeholder"
      [required]="data.required" [ngStyle]="{ 'font-family': data.inputFontFamily }">

    <textarea *ngIf="data.rowCount > 1" matInput [formControlName]="config.fieldName" [rows]="data.rowCount"
      [placeholder]="data.placeholder" [required]="data.required" [ngStyle]="{ 'font-family': data.inputFontFamily }">
    </textarea>

    <mat-label>{{ data.label }}</mat-label>
  </mat-form-field>

  <app-field-helper-text [config]="config" [group]="group"></app-field-helper-text>

</ng-container>
