<div class="icon-container">
  <mat-icon tippy="Show this app to users" *ngIf="value">visibility</mat-icon>
  <mat-icon tippy="Don't show this app to users" *ngIf="!value">visibility_off</mat-icon>
</div>
