<div class="actions-component">
  <div class="like-button highlight" matRipple *ngIf="enableCode" tippy="Code" (click)="openCode()">
    <mat-icon>code</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!enableCode">
    <mat-icon>code</mat-icon>
  </div>

  <div class="like-button highlight" matRipple *ngIf="enablePermissions" tippy="Permissions"
    (click)="openPermissions()">
    <mat-icon [matBadge]="view.Permissions.Count" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
      *ngIf="view.Permissions.Count">
      person
    </mat-icon>
    <mat-icon *ngIf="!view.Permissions.Count">person</mat-icon>
  </div>
  <div class="like-button disabled" *ngIf="!enablePermissions">
    <mat-icon>person</mat-icon>
  </div>

  <div class="like-button highlight" matRipple tippy="More" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>

<mat-menu #menu="matMenu" class="grid-more-menu">
  <button mat-menu-item (click)="cloneView()">
    <mat-icon>file_copy</mat-icon>
    <span>Copy</span>
  </button>
  <button mat-menu-item (click)="exportView()">
    <mat-icon>cloud_download</mat-icon>
    <span>Export</span>
  </button>
  <button mat-menu-item (click)="deleteView()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
